.app-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #552586; 
  }
  .chocolatecard-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .icon-add-image {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: #a470d8;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s; 
  }
  .icon-add-image:hover {
    transform: scale(1.1); 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  }
  .no-chocolates {
    text-align: center;
    font-style: italic;
    color: #777;
    margin-top: 20px;
  }
 
  @media (max-width: 768px) {
  .chocolatecard-home {
      grid-template-columns: 1fr;
      padding: 10px;
      gap: 10px;
    }
  
  .icon-add-image {
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 10px;
    }
  }